*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
   
}
.navbar{
    height: 80px;
    background-color: #0D1B2A ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 75px;
    width: 246px;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 75px;
    width: 245px;
}
.border{
    border: 2px solid transparent;
    border-radius: 4px;

}
.border:hover{
    border: 2px solid white;

}
body{
    background-color: #0D1B2A;
}

/** box 2 **/ 
.add-1{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}


.add-2  {
    margin-left: 5px;

}
.add-2 a {
    color: white;
}


.add-icon{
    display: flex;
    align-items: center;
}
/** box 3 **/ 
.nav-serch{
    display: flex;
    justify-content: space-evenly;
    background-color: #0f1111;
    width: 500px;
    height: 40px;
    border-radius: 4px;
}
.serch-select{
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px ;
    border: none;
}
.serch-input{
    width: 100%;
    font-size: larger;
    border: none;
    
}
.serch-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(255, 179, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    color: #0f1111;
}
.nav-serch:hover{
    border: 2px solid rgb(255, 179, 0) ;
}




/** box 4 **/ 
span{
    font-size: 0.7rem;
}
.nav-3{
    font-size: 0.85rem;
    font-weight: 750;
}
.user{
    display: flex;
    align-items: center;
}
.u-1{
    font-size: 1rem;
    margin-left: 21px;
}
.u-2{
    font-size: 0.85rem;
    font-weight: 750;
    margin-left: 5px;

}
.u-2 a {
    color: #ffffff;
}
/**panel**/
.panel{
    height: 115px;
    background-color: #1B263B;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel .card-body{
    color: white;

}

.card{
    text-align: center;
    margin-left: 8px;
}

.panel-all{
    margin-left: 10px;
}
.panel-ops p {
    display: inline;
    justify-content: space-evenly;
    margin-left: 15px;
    
}
.panel-ops{
    width: 70%;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    background-color: #0D1B2A;
}
.add{
    margin-top: 50px;
    color: white;
    font-size: 2rem;
    width: 250px;
}
.add a{
    color: white;
}

.map{
    margin-top: 10px;
    
}








