* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 6rem;
}

.form-container {
    background-color: #0D1B2A;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 1rem;
}
.header{
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #4CAF50;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.footer a {
    color: white;
    text-decoration: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}
